<ion-view title="Sobre" id="page4">
    <ion-content padding="true" class="has-header">
        <div id="sobre-markdown1" style="color:#000000;">
            <h3>Livro para todos</h3>

            <p>Aplicativo desenvolvido para as disciplinas:</p>

            <ul>
                <li>Desenvolvimento de software (1)</li>
                <li>Sistemas Operacionais (2)</li>
                <li>Comunicação e Expressão (3)</li>
            </ul>

            <h3>Ferramentas utilizadas:</h3>

            <ul>
                <li>Framework ionic</li>
                <li>Apache Cordava</li>
            </ul>

            <h3>Faculdade Senac 2016</h3>

            <ul>
                <li>Douglas Costa(1)</li>
                <li>Douglas F.(3)</li>
                <li>Eduardo Luiz(1)</li>
                <li>Guilherme Nunes(2,3)</li>
                <li>Ricardo Conceição(1,2,3)</li>
                <li>Luiz Farias(1)</li>
                <li>Fabiano Gomes(1,2,3)</li>
            </ul>
        </div>
    </ion-content>
</ion-view>