<ion-view title="Meus Livros" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <div class="button-bar">
            <button id="meusLivros-button8" class="button button-positive  button-block icon-left ion-heart-broken">Bloquear</button>
            <button id="meusLivros-button9" class="button button-positive  button-block">Cancelar</button>
        </div>
    </ion-content>
</ion-view>